.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-serif {
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
}
.noto-tc-serif {
  font-family: "Noto Serif TC", serif;
  font-style: normal;
}
