<section
  class="swiper marqueeSwiper bg-black border border-3 border-primary noto-tc-serif fw-bold fs-md-2 text-secondary"
>
  <div class="swiper-wrapper">
    <div class="swiper-slide py-md-6 py-4 lh34">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
    <div class="swiper-slide py-md-6 py-4 lh34">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
    <div class="swiper-slide py-md-6 py-4 lh34">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
    <div class="swiper-slide py-md-6 py-4 lh34">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
    <div class="swiper-slide py-md-6 py-4 lh34">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
    </div>
  </div>
</section>
