.lh34 {
  line-height: 1.437em;
}
.lh69 {
  line-height: 1.15em;
}
.text-justify {
  text-align: justify;
}
// 第一部分
.section-one {
  .headerSwiper {
    height: 518px;
  }
  .h-swiper-btn {
    color: #d3d3d3;
    transition: color 0.3s;
    &:hover {
      color: #808080;
    }
  }
  @include pad {
    .mySwiper {
      height: 350px;
    }
  }
}
// 第二部分
.section-two {
  img {
    width: 80px;
    height: 80px;
  }
  p {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.437em;
  }
  &-more {
    p {
      font-size: 3rem;
      line-height: 1.25em;
    }
  }

  @include pad {
    img {
      width: 40px;
      height: 40px;
    }
    p {
      font-size: 1rem;
      line-height: 1.5em;
    }
    &-more {
      p {
        font-size: 1.5rem;
        line-height: 1.333em;
      }
    }
  }
}
// 第三部分
.section-three {
  h2 {
    line-height: 1.155em;
  }
  .card {
    &-header {
      h3 {
        line-height: 1.155em;
      }
    }
    &-body {
      img {
        width: 416px;
        height: 255px;
      }
      h5 {
        line-height: 1.437em;
      }
      @include pad {
        img {
          height: 210px;
        }
      }
    }
    &-footer {
      img {
        width: 24px;
        height: 24px;
      }
      p {
        line-height: 1.4375em;
      }
      @include pad {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
// 第四部分
.section-four {
  h2 {
    line-height: 1.155em;
  }
  &-content {
    img {
      height: 321px;
      object-position: center 32.5%;
    }
  }
  &-label {
    span {
      width: 4px;
    }
  }
  &-description {
    line-height: 1.437em;
  }
  &-btn {
    line-height: 1.45em;
  }
  @include pad {
    &-content {
      img {
        height: 158px;
      }
    }
    &-description {
      line-height: 1.5em;
    }
  }
}
// 第五部分
.section-five {
  &-list {
    img {
      height: 274px;
    }
    h2 {
      transform: translate(-50%, -50%) rotate(-4deg);
    }
  }
  .deg2 {
    transform: rotate(2deg);
  }
  .deg-2 {
    transform: rotate(-2deg);
  }
}
// 第六部分
.section-six {
  .form-floating > .form-control:focus ~ label::after {
    background-color: $light;
  }
  label {
    color: #4f4f4f;
  }
}
