<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>7TAO｜活動訂票網</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" href="../assets/images/logo.png" />
    <!-- Open Graph Protocol-->
    <meta property="og:title" content="7TAO｜活動訂票網" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://windjim.github.io/CSS-Practice-2/"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/windjim/CSS-Practice-2/main/assets/images/logo.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="7TAO｜活動訂票網 logo" />
    <meta
      property="og:description"
      content="7TAO是您尋找旅遊活動訂票的首選。我們提供方便快捷的訂票服務，讓您輕鬆計劃行程，探索精彩活動。"
    />
    <!-- 蘋果裝置圖示 -->
    <link href="../assets/images/logo.png" rel="apple-touch-icon" />
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <!-- 第一部分-活動swiper -->
    <article class="section-one container mt-lg-8 mt-4 mb-lg-12">
      <div class="swiper headerSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide w-100">
            <section
              class="d-flex flex-column justify-content-between pt-lg-12 pt-4 px-lg-12 px-10 pb-6 position-absolute w-100 h-100 text-white"
            >
              <h2 class="m-0 yeseva-one-regular fs-lg-10 fs-2 fw-bold lh69">
                19 MAY 2023
              </h2>
              <article class="d-flex flex-column align-items-center pt-lg-s3">
                <p class="noto-tc-serif fw-bold fs-lg-4 fs-6 lh34 mb-lg-4 mb-0">
                  隔牆有耳-沒有草東的派對
                </p>
                <p class="d-none d-lg-block m-0 noto-sans-serif text-center">
                  你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br />
                  帶上啤酒、野餐墊，讓我們在Live
                  House外面一起開場「沒有草東的派對」吧！
                </p>
              </article>
            </section>
            <img
              class="d-block w-100 h-100 object-fit-cover"
              src="../assets/images/header01.jpg"
              alt="event"
            />
          </div>
          <div class="swiper-slide w-100">
            <section
              class="d-flex flex-column justify-content-between pt-lg-12 pt-4 px-lg-12 px-10 pb-6 position-absolute w-100 h-100 text-white"
            >
              <h2 class="m-0 yeseva-one-regular fs-lg-10 fs-2 fw-bold lh69">
                19 MAY 2023
              </h2>
              <article class="d-flex flex-column align-items-center pt-lg-s3">
                <p class="noto-tc-serif fw-bold fs-lg-4 fs-6 lh34 mb-lg-4 mb-0">
                  隔牆有耳-沒有草東的派對
                </p>
                <p class="d-none d-lg-block m-0 noto-sans-serif text-center">
                  你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br />
                  帶上啤酒、野餐墊，讓我們在Live
                  House外面一起開場「沒有草東的派對」吧！
                </p>
              </article>
            </section>
            <img
              class="d-block w-100 h-100 object-fit-cover"
              src="../assets/images/activity02.jpg"
              alt="event"
            />
          </div>
          <div class="swiper-slide w-100">
            <section
              class="d-flex flex-column justify-content-between pt-lg-12 pt-4 px-lg-12 px-10 pb-6 position-absolute w-100 h-100 text-white"
            >
              <h2 class="m-0 yeseva-one-regular fs-lg-10 fs-2 fw-bold lh69">
                19 MAY 2023
              </h2>
              <article class="d-flex flex-column align-items-center pt-lg-s3">
                <p class="noto-tc-serif fw-bold fs-lg-4 fs-6 lh34 mb-lg-4 mb-0">
                  隔牆有耳-沒有草東的派對
                </p>
                <p class="d-none d-lg-block m-0 noto-sans-serif text-center">
                  你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br />
                  帶上啤酒、野餐墊，讓我們在Live
                  House外面一起開場「沒有草東的派對」吧！
                </p>
              </article>
            </section>
            <img
              class="d-block w-100 h-100 object-fit-cover"
              src="../assets/images/activity03.jpg"
              alt="event"
            />
          </div>
        </div>
        <div class="swiper-button-next h-swiper-btn"></div>
        <div class="swiper-button-prev h-swiper-btn"></div>
      </div>
    </article>
    <!-- 第二部分-活動分類項目 -->
    <article class="section-two">
      <div class="container">
        <ul
          class="row row-cols-md-6 row-cols-3 g-md-6 g-2 my-lg-12 my-8 list-unstyled"
        >
          <li class="col-md-2 col-4 mt-0">
            <div class="ratio ratio-1x1 border border-2 border-primary">
              <a
                href="#"
                class="d-flex flex-column justify-content-center align-items-center fs-8 fs-md-4 h-activity-type"
              >
                <img
                  src="../assets/images/cate01.svg"
                  class="mb-2 mb-lg-3 banner-icon"
                  alt="音樂圖片(代表演出活動)"
                />
                <p class="m-0">演出</p>
              </a>
            </div>
          </li>
          <li class="col-md-2 col-4 mt-0">
            <div class="ratio ratio-1x1 border border-2 border-primary">
              <a
                href="#"
                class="d-flex flex-column justify-content-center align-items-center fs-8 fs-md-4 h-activity-type"
              >
                <img
                  src="../assets/images/cate02.svg"
                  class="mb-2 mb-lg-3 banner-icon"
                  alt="愛心圖片(代表聯誼活動)"
                />
                <p class="m-0">聯誼</p>
              </a>
            </div>
          </li>
          <li class="col-md-2 col-4 mt-0">
            <div class="ratio ratio-1x1 border border-2 border-primary">
              <a
                href="#"
                class="d-flex flex-column justify-content-center align-items-center fs-8 fs-md-4 h-activity-type"
              >
                <img
                  src="../assets/images/cate03.svg"
                  class="mb-2 mb-lg-3 banner-icon"
                  alt="圖片(代表展覽活動)"
                />
                <p class="m-0">展覽</p>
              </a>
            </div>
          </li>
          <li class="col-md-2 col-4 mt-md-0">
            <div class="ratio ratio-1x1 border border-2 border-primary">
              <a
                href="#"
                class="d-flex flex-column justify-content-center align-items-center fs-8 fs-md-4 h-activity-type"
              >
                <img
                  src="../assets/images/cate04.svg"
                  class="mb-2 mb-lg-3 banner-icon"
                  alt="刀叉圖片(代表美食活動)"
                />
                <p class="m-0">美食</p>
              </a>
            </div>
          </li>
          <li class="col-md-2 col-4 mt-md-0">
            <div class="ratio ratio-1x1 border border-2 border-primary">
              <a
                href="#"
                class="d-flex flex-column justify-content-center align-items-center fs-8 fs-md-4 h-activity-type"
              >
                <img
                  src="../assets/images/cate05.svg"
                  class="mb-2 mb-lg-3 banner-icon"
                  alt="山的圖片(代表戶外活動)"
                />
                <p class="m-0">戶外</p>
              </a>
            </div>
          </li>
          <li class="col-md-2 col-4 section-two-more mt-md-0">
            <div class="ratio ratio-1x1 border border-2 border-primary">
              <a
                href="./activity.html"
                class="d-flex flex-column justify-content-center align-items-center bg-primary text-secondary h-activity-type"
              >
                <p class="m-0">探索<br />更多</p>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <!-- 第三部分-近期活動 -->
    <article class="section-three">
      <div class="container overflow-hidden">
        <article
          class="d-flex justify-content-between align-items-center py-md-s21 py-4 px-md-8 px-3 mb-md-8 mb-6 border border-3 border-primary"
        >
          <h2 class="yeseva-one-regular fs-lg-11 fs-4">RECENT</h2>
          <p class="m-0 noto-sans-serif fw-bold fs-lg-2 lh34">近期活動</p>
        </article>

        <ul
          class="row row-cols-md-3 row-cols-12 gy-md-12 gy-6 my-0 list-unstyled"
        >
          <li class="col-md-4 m-0">
            <div class="card p-0 border-0 bg-light">
              <div class="card-header p-0 mb-md-3 mb-4 bg-light">
                <h3
                  class="pb-md-3 pb-2 m-0 yeseva-one-regular border-bottom border-3 border-primary yeseva-one-regular fs-lg-1 fs-2"
                >
                  19 MAY 2023
                </h3>
              </div>
              <div class="card-body p-0 bg-light mb-4">
                <img
                  src="../assets/images/activity01.jpg"
                  alt="活動圖片"
                  class="mb-3 object-fit-cover w-100"
                />
                <h5 class="mb-md-3 mb-2 noto-sans-serif fw-bold fs-md-4 fs-6">
                  邪典電影派對——房間
                </h5>
                <p class="m-0 noto-sans-serif fw-normal text-justify">
                  你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                  製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，<span
                    class="d-md-inline d-none"
                    >在電影播放的對著螢幕丟湯匙都</span
                  >...
                </p>
              </div>
              <div class="card-footer p-0 bg-light border-0">
                <div
                  class="d-flex justify-content-between py-md-3 py-2 border-top border-bottom border-2 border-primary"
                >
                  <a
                    href="./activity.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <img src="../assets/images/sparkler.png" alt="星星符號" />
                    <p class="m-0 noto-sans-serif fw-bold">社群活動</p>
                  </a>
                  <a
                    href="./activity-detail.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <p class="m-0 noto-sans-serif fw-bold">開賣中</p>
                    <i class="icofont-double-right text-primary"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-4 m-md-0">
            <div class="card p-0 border-0 bg-light">
              <div class="card-header p-0 mb-md-3 mb-4 bg-light">
                <h3
                  class="pb-md-3 pb-2 m-0 yeseva-one-regular border-bottom border-3 border-primary yeseva-one-regular fs-lg-1 fs-2"
                >
                  23 MAY 2023
                </h3>
              </div>
              <div class="card-body p-0 bg-light mb-4">
                <img
                  src="../assets/images/activity02.jpg"
                  alt="活動圖片"
                  class="mb-3 object-fit-cover w-100"
                />
                <h5 class="mb-md-3 mb-2 noto-sans-serif fw-bold fs-md-4 fs-6">
                  怪舞俱樂部
                </h5>
                <p class="m-0 noto-sans-serif fw-normal text-justify">
                  覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一<span
                    class="d-md-inline d-none"
                    >次的舞會中選出舞步最怪的</span
                  >...
                </p>
              </div>
              <div class="card-footer p-0 bg-light border-0">
                <div
                  class="d-flex justify-content-between py-md-3 py-2 border-top border-bottom border-2 border-primary"
                >
                  <a
                    href="./activity.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <img src="../assets/images/sparkler.png" alt="星星符號" />
                    <p class="m-0 noto-sans-serif fw-bold">演出</p>
                  </a>
                  <a
                    href="./activity-detail.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <p class="m-0 noto-sans-serif fw-bold">開賣中</p>
                    <i class="icofont-double-right text-primary"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-4 m-md-0">
            <div class="card p-0 border-0 bg-light">
              <div class="card-header p-0 mb-md-3 mb-4 bg-light">
                <h3
                  class="pb-md-3 pb-2 m-0 yeseva-one-regular border-bottom border-3 border-primary yeseva-one-regular fs-lg-1 fs-2"
                >
                  30 MAY 2023
                </h3>
              </div>
              <div class="card-body p-0 bg-light mb-4">
                <img
                  src="../assets/images/activity03.jpg"
                  alt="活動圖片"
                  class="mb-3 object-fit-cover w-100"
                />
                <h5 class="mb-md-3 mb-2 noto-sans-serif fw-bold fs-md-4 fs-6">
                  哈利波特馬拉松
                </h5>
                <p class="m-0 noto-sans-serif fw-normal text-justify">
                  每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿<span
                    class="d-md-inline d-none"
                    >好你的法袍、帶上你的法杖</span
                  >...
                </p>
              </div>
              <div class="card-footer p-0 bg-light border-0">
                <div
                  class="d-flex justify-content-between py-md-3 py-2 border-top border-bottom border-2 border-primary"
                >
                  <a
                    href="./activity.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <img src="../assets/images/sparkler.png" alt="星星符號" />
                    <p class="m-0 noto-sans-serif fw-bold">聯誼</p>
                  </a>
                  <a
                    href="./activity-detail.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <p class="m-0 noto-sans-serif fw-bold">開賣中</p>
                    <i class="icofont-double-right text-primary"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="card p-0 border-0 bg-light">
              <div class="card-header p-0 mb-md-3 mb-4 bg-light">
                <h3
                  class="pb-md-3 pb-2 m-0 yeseva-one-regular border-bottom border-3 border-primary yeseva-one-regular fs-lg-1 fs-2"
                >
                  12 June 2023
                </h3>
              </div>
              <div class="card-body p-0 bg-light mb-4">
                <img
                  src="../assets/images/activity04.jpg"
                  alt="活動圖片"
                  class="mb-3 object-fit-cover w-100"
                />
                <h5 class="mb-md-3 mb-2 noto-sans-serif fw-bold fs-md-4 fs-6">
                  皮卡丘排球大賽
                </h5>
                <p class="m-0 noto-sans-serif fw-normal text-justify">
                  還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方<span
                    class="d-md-inline d-none"
                    >式進行，是時候該證明自己</span
                  >...
                </p>
              </div>
              <div class="card-footer p-0 bg-light border-0">
                <div
                  class="d-flex justify-content-between py-md-3 py-2 border-top border-bottom border-2 border-primary"
                >
                  <a
                    href="./activity.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <img src="../assets/images/sparkler.png" alt="星星符號" />
                    <p class="m-0 noto-sans-serif fw-bold">遊戲競賽</p>
                  </a>
                  <a
                    href="./activity-detail.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <p class="m-0 noto-sans-serif fw-bold">開賣中</p>
                    <i class="icofont-double-right text-primary"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="card p-0 border-0 bg-light">
              <div class="card-header p-0 mb-md-3 mb-4 bg-light">
                <h3
                  class="pb-md-3 pb-2 m-0 yeseva-one-regular border-bottom border-3 border-primary yeseva-one-regular fs-lg-1 fs-2"
                >
                  25 June 2023
                </h3>
              </div>
              <div class="card-body p-0 bg-light mb-4">
                <img
                  src="../assets/images/activity05.jpg"
                  alt="活動圖片"
                  class="mb-3 object-fit-cover w-100"
                />
                <h5 class="mb-md-3 mb-2 noto-sans-serif fw-bold fs-md-4 fs-6">
                  酒精路跑
                </h5>
                <p class="m-0 noto-sans-serif fw-normal text-justify">
                  身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極<span
                    class="d-md-inline d-none"
                    >具品味的酒吧。</span
                  >...
                </p>
              </div>
              <div class="card-footer p-0 bg-light border-0">
                <div
                  class="d-flex justify-content-between py-md-3 py-2 border-top border-bottom border-2 border-primary"
                >
                  <a
                    href="./activity.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <img src="../assets/images/sparkler.png" alt="星星符號" />
                    <p class="m-0 noto-sans-serif fw-bold">社群活動</p>
                  </a>
                  <a
                    href="./activity-detail.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <p class="m-0 noto-sans-serif fw-bold">開賣中</p>
                    <i class="icofont-double-right text-primary"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-4">
            <div class="card p-0 border-0 bg-light">
              <div class="card-header p-0 mb-md-3 mb-4 bg-light">
                <h3
                  class="pb-md-3 pb-2 m-0 yeseva-one-regular border-bottom border-3 border-primary yeseva-one-regular fs-lg-1 fs-2"
                >
                  9 July 2023
                </h3>
              </div>
              <div class="card-body p-0 bg-light mb-4">
                <img
                  src="../assets/images/activity06.jpg"
                  alt="活動圖片"
                  class="mb-3 object-fit-cover w-100"
                />
                <h5 class="mb-md-3 mb-2 noto-sans-serif fw-bold fs-md-4 fs-6">
                  展覽——我的房間
                </h5>
                <p class="m-0 noto-sans-serif fw-normal text-justify">
                  每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能<span
                    class="d-md-inline d-none"
                    >定義自己的特別的東西。</span
                  >...
                </p>
              </div>
              <div class="card-footer p-0 bg-light border-0">
                <div
                  class="d-flex justify-content-between py-md-3 py-2 border-top border-bottom border-2 border-primary"
                >
                  <a
                    href="./activity.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <img src="../assets/images/sparkler.png" alt="星星符號" />
                    <p class="m-0 noto-sans-serif fw-bold">社群活動</p>
                  </a>
                  <a
                    href="./activity-detail.html"
                    class="card-link d-flex align-items-center gap-1"
                  >
                    <p class="m-0 noto-sans-serif fw-bold">開賣中</p>
                    <i class="icofont-double-right text-primary"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <!-- 第四部分-線上活動 -->
    <article class="section-four py-md-15 py-8">
      <div class="container">
        <article
          class="d-flex justify-content-between align-items-center py-md-s21 py-4 px-md-8 px-3 mb-md-8 mb-6 border border-3 border-primary"
        >
          <h2 class="yeseva-one-regular fs-lg-11 fs-4">ONLINE</h2>
          <p class="m-0 noto-sans-serif fw-bold fs-lg-2 fs-7 lh34">線上活動</p>
        </article>

        <article class="row row-cols-12 section-four-content">
          <img
            src="../assets/images/online-img.jpg"
            alt="線上活動示意圖"
            class="col-md-7 mb-md-0 mb-3 object-fit-cover"
          />

          <div class="col-md-5">
            <h5 class="mb-md-4 mb-2 noto-sans-serif fw-bold fs-md-2 fs-6 lh34">
              切特居批踢
            </h5>
            <div class="d-flex gap-2 mb-md-8 mb-3">
              <a href="#" class="activity-label">
                <span></span>
                <p>競賽</p>
              </a>
              <a href="#" class="activity-label">
                <span></span>
                <p>科技</p>
              </a>
              <a href="#" class="activity-label">
                <span></span>
                <p>有趣</p>
              </a>
            </div>
            <p
              class="mb-md-8 mb-3 noto-sans-serif section-four-description text-justify"
            >
              最近網路上很流行的AI程式
              ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br />
              這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br />
              該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
            </p>
            <button
              class="py-md-2 py-4 w-100 bg-primary noto-sans-serif fs-md-5 text-white fw-bold section-four-btn"
            >
              <a
                href="#"
                class="d-flex justify-content-center align-items-center gap-1 h-link-yellow"
              >
                <p class="m-0">
                  查看活動詳情<i class="icofont-double-right"></i>
                </p>
              </a>
            </button>
          </div>
        </article>
      </div>
    </article>
    <!-- 第五部分-活動分享 -->
    <article class="section-five">
      <%- include('./layout/marquee'); -%>
      <section class="container">
        <ul
          class="row row-cols-lg-4 row-cols-12 gy-lg-0 gy-10 justify-content-lg-start justify-content-center my-md-15 my-12 list-unstyled section-five-list"
        >
          <li class="col-lg-3 col-10 m-0">
            <div
              class="p-md-4 p-3 pb-md-12 pb-8 position-relative border border-2 border-primary"
            >
              <h2
                class="py-2 px-4 position-absolute top-0 start-50 fs-7 noto-tc-serif fw-bold bg-white lh34"
              >
                社群活動
              </h2>
              <img
                src="../assets/images/album01.jpg"
                alt="活動相簿圖片展現"
                class="mb-md-4 mb-3 img-fluid w-100 object-fit-cover"
              />
              <p class="m-0 fs-6 noto-tc-serif fw-bold lh34">
                無聲派對-閉閉嘴dancing
              </p>
            </div>
          </li>
          <li class="col-lg-3 col-10">
            <div
              class="p-md-4 p-3 pb-md-12 pb-8 position-relative border border-2 border-primary deg2"
            >
              <h2
                class="py-2 px-4 position-absolute top-0 start-50 fs-7 noto-tc-serif fw-bold bg-white lh34"
              >
                藝文活動
              </h2>
              <img
                src="../assets/images/album02.jpg"
                alt="活動相簿圖片展現"
                class="mb-md-4 mb-3 img-fluid w-100 object-fit-cover"
              />
              <p class="m-0 fs-6 noto-tc-serif fw-bold lh34">拯救老店大作戰</p>
            </div>
          </li>
          <li class="col-lg-3 col-10">
            <div
              class="p-md-4 p-3 pb-md-12 pb-8 position-relative border border-2 border-primary deg-2"
            >
              <h2
                class="py-2 px-4 position-absolute top-0 start-50 fs-7 noto-tc-serif fw-bold bg-white lh34"
              >
                自我覺察
              </h2>
              <img
                src="../assets/images/album03.jpg"
                alt="活動相簿圖片展現"
                class="mb-md-4 mb-3 img-fluid w-100 object-fit-cover"
              />
              <p class="m-0 fs-6 noto-tc-serif fw-bold lh34">內觀修行-部落篇</p>
            </div>
          </li>
          <li class="col-lg-3 col-10">
            <div
              class="p-md-4 p-3 pb-md-12 pb-8 position-relative border border-2 border-primary deg2"
            >
              <h2
                class="py-2 px-4 position-absolute top-0 start-50 fs-7 noto-tc-serif fw-bold bg-white lh34"
              >
                聯誼活動
              </h2>
              <img
                src="../assets/images/album01.jpg"
                alt="活動相簿圖片展現"
                class="mb-md-4 mb-3 img-fluid w-100 object-fit-cover"
              />
              <p class="m-0 fs-6 noto-tc-serif fw-bold lh34">賞櫻野餐</p>
            </div>
          </li>
        </ul>
      </section>
      <%- include('./layout/marquee'); -%>
    </article>
    <!-- 第六部分-追蹤與訂閱電子報 -->
    <article class="section-six my-md-15 mt-8 mb-12">
      <section class="container d-flex flex-md-row flex-column gap-md-0 gap-6">
        <!-- 追蹤資訊 -->
        <section class="pt-4 border border-2 border-primary w-100">
          <h3
            class="pb-4 ps-md-8 ps-3 noto-tc-serif fw-bold fs-md-2 fs-4 lh34 border-bottom border-2 border-primary"
          >
            #FOLLOW US
          </h3>
          <section class="p-md-8 py-4 px-3 text-black">
            <h5 class="noto-sans-serif fw-normal text-justify">
              想第一時間獲得新奇有趣的活動資訊？<br />
              追蹤我們的社群吧！<br />
              也歡迎你聯繫我們，提供好玩有趣的活動企劃。
            </h5>
            <div
              class="mt-md-8 mt-4 d-flex flex-column justify-content-between gap-4 noto-sans-serif"
            >
              <div class="d-flex align-items-center gap-4">
                <i class="icofont-ui-email p-2 text-white bg-black"></i>
                <span>7tao.event@gmail.com</span>
              </div>
              <div class="d-flex align-items-center gap-4">
                <i class="icofont-phone p-2 text-white bg-black"></i>
                <span>09123123123</span>
              </div>
              <div class="d-flex align-items-center gap-4">
                <i class="icofont-facebook p-2 text-white bg-black"></i>
                <span>7TAO七逃</span>
              </div>
            </div>
          </section>
        </section>
        <!-- 訂閱電子報-->
        <section
          class="d-flex flex-column justify-content-between pt-4 border border-2 border-primary w-100"
        >
          <section>
            <h3
              class="pb-4 ps-md-8 ps-3 noto-tc-serif fw-bold fs-md-2 fs-4 lh34 border-bottom border-2 border-primary"
            >
              #SUBSCRIBE US
            </h3>

            <section class="p-md-8 py-4 px-3">
              <h5
                class="mb-md-8 mb-4 noto-sans-serif text-black fw-normal text-justify"
              >
                訂閱電子報送折價券！<br />
                定期精選文章資訊及最新優惠資訊，<br />
                還不通通給我訂閱起來？
              </h5>
              <div
                class="form-floating bg-light border border-2 border-primary"
              >
                <input
                  type="email"
                  class="form-control bg-light"
                  id="emailInput"
                  placeholder="輸入Email"
                />
                <label for="emailInput" class="noto-sans-serif lh34"
                  >輸入Email</label
                >
              </div>
            </section>
          </section>
          <button
            class="py-md-2 py-4 w-100 bg-primary noto-sans-serif fs-md-5 text-white fw-bold section-four-btn"
          >
            <a
              href="#"
              class="d-flex justify-content-center align-items-center gap-1 h-link-yellow"
            >
              <p class="m-0">確認訂閱<i class="icofont-double-right"></i></p>
            </a>
          </button>
        </section>
      </section>
    </article>
    <!-- 第七部分-溫馨提醒(? -->
    <article class="border-top border-2 border-primary mb-md-15 mb-12">
      <section
        class="container d-flex flex-column justify-content-end align-items-center pt-md-15 pt-12"
      >
        <h2 class="noto-tc-serif fw-bold fs-md-2 fs-6 text-black lh34">
          此刻打盹，你將做夢；此刻學習，你將圓夢
        </h2>
        <h6 class="noto-tc-serif fw-bold fs-md-6 fs-8 text-black lh34">
          ——我也不知道誰說的
        </h6>
      </section>
    </article>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <!-- 匯入swiper -->
    <script type="module">
      import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";
      // header活動
      var swiper = new Swiper(".headerSwiper", {
        // 允許指定在 Swiper 容器中同時顯示多少個滑動項目。
        slidesPerView: "auto",
        // 循環播放
        loop: true,
        // 以設定的時間速度切換到下一個 swiper-slide,主要是切換的動畫速度
        speed: 1000,
        // 切換之間的時間間隔
        autoplay: {
          delay: 2500, // 自動切換間隔時間，單位為毫秒
          disableOnInteraction: false, // 使用者互動後是否停止自動播放
        },
        // 使用者無法通過觸摸手勢來滑動Swiper元素
        allowTouchMove: false,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      // 跑馬燈
      const marqueeSwiper = new Swiper(".marqueeSwiper", {
        // 允許指定在 Swiper 容器中同時顯示多少個滑動項目。
        slidesPerView: "auto",
        // 循環播放
        loop: true,
        // 以設定的時間速度切換到下一個 swiper-slide,主要是切換的動畫速度
        speed: 8000,
        // 使用者無法通過觸摸手勢來滑動Swiper元素
        allowTouchMove: false,
        // 切換之間的時間間隔
        autoplay: {
          delay: 1,
        },
      });
    </script>
  </body>
</html>
